* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #050A18;
    --sidebar-color: #212633;
    --accent-yellow: #FFD700;
    --accent-blue: #1E90FF;
    --highlight-red: #E50914;
    --text-main: #FFFFFF;
}

body {
    background-color: var(--sidebar-color);
    color: var(--text-main);
    font-family: 'Montserrat', sans-serif;
}

main {
    min-height: calc(100vh - 150px);

}