<body>
    <footer id="footer">
        <div class="footer-column footer-logo">
            <img src="../assets/img/logoogin.png" alt="Popcine">
        </div>

        <div class="footer-column">
            <h5>POPCINE VIETNAM</h5>
            <div class="information">
                <p>Your ultimate destination for premium cinematography. Streaming licensed 4K Ultra HD content from the
                    world's leading film studios.</p>
            </div>
        </div>

        <div class="footer-column">
            <h5>QUICK LINKS</h5>
            <p>Movies</p>
            <p>TV Shows</p>
            <p>New Releases</p>
        </div>

        <div class="footer-column">
            <h5>LEGAL & POLICIES</h5>
            <p>Privacy Policy</p>
            <p>Copyright & DMCA</p>
            <p>Subscription Terms</p>
            <p>My Favorites</p>
        </div>
        <div class="footer-column">
            <h5>FOLLOW US</h5>
            <ul class="sub-icon">
                <li><a href="https://www.facebook.com/share/17zRixJrFc/?mibextid=wwXIfr"><i class="fab fa-facebook"></i>
                        Facebook</a></li>
                <li><a href="https://www.instagram.com/luaan051014/"><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a href="https://www.tiktok.com/@luaan051014"><i class="fab fa-tiktok"></i> TikTok</a> </li>
                <li><a href="https://www.youtube.com/channel/UC1kQgJiu37AdzYh3mCcUqjQ"><i class="fab fa-youtube"></i>
                        YouTube</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h5>HELP CENTER</h5>
            <p>Hotline: 1900 9999</p>
            <p>Email: support@popcine.vn</p>
        </div>
    </footer>

</body>