<body>
    <header>
        <div id="sidebar">
            <ul class="sub-sidebar">
                <li class="sub-icon">
                    <i class="fa-solid fa-bars" id="menu-toggle-icon" style="cursor: pointer; font-size: 24px;"></i>
                    <ul class="icon-menu" id="main-icon-menu">
                        <li><a href="../index.html"><i class="fa-regular fa-house"></i> <span>HOME</span></a></li>
                        <li><a href="../pages/ticket.html"><i class="fa-solid fa-ticket-simple"></i>
                                <span>TICKET</span></a></li>
                        <li><a href="../pages/user.html"><i class="fa-regular fa-user"></i> <span>USER</span></a></li>
                        <li><a href="../pages/setting.html"><i class="fa-solid fa-gear"></i> <span>SETTING</span></a>
                        </li>

                        <li class="mobile-only"><a href="../pages/movies.html"><i class="fa-solid fa-film"></i>
                                <span>MOVIES</span></a></li>
                        <li class="mobile-only"><a href="../index.html#Now-Showing-section"><i
                                    class="fa-solid fa-play"></i> <span>NOW SHOWING</span></a></li>
                        <li class="mobile-only"><a href="../index.html#top-rated-section"><i
                                    class="fa-solid fa-star"></i> <span>TOP RATED</span></a></li>
                        <li class="mobile-only"><a href="../index.html#coming-soon-section"><i
                                    class="fa-solid fa-calendar-days"></i> <span>COMING</span></a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="../pages/movies.html">MOVIES</a></li>
                <li class="nav-item"><a href="../index.html#Now-Showing-section">NOW SHOWING</a></li>
                <li class="nav-item"><a href="../index.html#top-rated-section">TOP RATED</a></li>
                <li class="nav-item"><a href="../index.html#coming-soon-section">COMING</a></li>
            </ul>
        </div>
        <div id="logo-center">
            <img src="../assets/img/LOGO 2.gif" alt="Logo">
        </div>
        <div id="btn">
            <a href="../pages/login.html">Login</a>
        </div>
    </header>
</body>