<body>
    <header>
        <div id="sidebar">
            <ul class="sub-sidebar">
                <li class="sub-icon">
                    <i class="fa-solid fa-bars" style="cursor: pointer; font-size: 24px;"></i>
                    <ul class="icon-menu">
                        <img src="../assets/img/logoogin.png" alt="">
                        <li><a href="../index.html"><i class="fa-regular fa-house"></i>
                                <span>HOME</span></a></li>
                        <li><a href="#"><i class="fa-solid fa-ticket-simple"></i>
                                <span>TICKET</span></a></li>
                        <li><a href="#"><i class="fa-regular fa-heart"></i> <span>My List</span></a>
                        </li>
                        <li><a href="#"><i class="fa-solid fa-share-nodes"></i> <span>SHARE</span></a>
                        </li>
                        <li><a href="#"><i class="fa-regular fa-user"></i> <span>USER</span></a></li>
                        <li><a href="#"><i class="fa-solid fa-clapperboard"></i>
                                <span>MOVIES</span></a></li>
                        <li><a href="#"><i class="fa-solid fa-gear"></i> <span>SETTING</span></a>
                        </li>
                    </ul>
                </li>
                <li><a href="../pages/movies.html">MOVIES</a></li>
                <li><a href="#">SERIES</a></li>
                <li><a href="#">TV SHOWS</a></li>
            </ul>
        </div>
        <div id="logo-center">
            <img src="../assets/img/LOGO 2.gif" alt="">
        </div>

        <div id="btn">
            <a href="../pages/login.html">Login</a>
        </div>

    </header>
</body>