.booking-page {
    background-color: #050a18;
    color: white;
    padding-bottom: 100px;
}

.booking-container {
    padding-top: 100px;
    text-align: center;
}

.age-tag {
    background: #fb7d08;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

/* Màn hình */
.screen-container {
    margin-bottom: 60px;
    position: relative;
}

.screen-curve {
    width: 80%;
    height: 8px;
    background: #fff;
    margin: 0 auto;
    border-radius: 50% / 100% 100% 0 0;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
}

/* Ma trận ghế */
.matrix-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    user-select: none;
}

.row-labels {
    display: grid;
    gap: 10px;
    font-weight: bold;
    color: #666;
}

.seats-grid {
    display: grid;
    grid-template-columns: repeat(14, 30px);
    /* 14 cột */
    gap: 10px;
}

/* Các loại ghế */
.seat {
    width: 30px;
    height: 26px;
    border: 1px solid #444;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.seat.standard {
    border-color: #ccc;
}

.seat.vip {
    border-color: #ffc107;
    background: rgba(255, 193, 7, 0.1);
}

.seat.double {
    width: 70px;
    grid-column: span 2;
    border-color: #007bff;
}

.seat.occupied {
    background: #333 !important;
    border: none;
    cursor: not-allowed;
}

.seat.selecting {
    background: #fb7d08 !important;
    border-color: #fb7d08;
}

/* Chú thích */
.seat-legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    font-size: 14px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.s-box {
    width: 20px;
    height: 18px;
    border: 1px solid #444;
    border-radius: 3px;
}

.s-box.selecting {
    background: #fb7d08;
}

/* Thanh Checkout dưới cùng */
.checkout-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    color: #000;
    padding: 15px 0;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.checkout-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.total-price {
    color: #fb7d08;
    font-size: 20px;
    margin-top: 4px;
}

.btn-confirm {
    background: #fb7d08;
    color: #fff;
    border: none;
    padding: 12px 50px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}